management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
spring:
  security:
    user:
      name: jsgenerator
      roles: ACTUATOR
  application:
    name: jsgenerator-api
  banner:
    location: classpath:/banner.txt
springdoc:
  api-docs:
    path: /openapi.yaml
  swagger-ui:
    path: /
    use-root-path: false
    disable-swagger-default-url: true
