<dialog [open]="opened" [ngClass]="{'grid': opened, 'none': !opened}"
        class="fixed top-0 left-0 w-full h-full bg-gray-100 items-center justify-center">
  <section class="relative bg-white">
    <del class="absolute leading-none inline-block rounded-full right-0 h-6 w-6
                cursor-pointer align-middle text-white text-bold bg-black"
         (click)="close()"></del>
    <header>
      <h1>{{ title }}</h1>
    </header>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, atque blanditiis, cum deserunt doloremque earum
    eveniet harum id iste maxime neque non optio perferendis quam quis quos, suscipit tempora velit.
  </section>
</dialog>
